<template>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                Footer by @christianlopez
            </div>
        </div>
    </footer>
</template>
