<template>
  <div
    class="content"
    v-if="track && track.album"
  >
    <p>
      <img :src="track.album.images[0].url">
    </p>
    <p>
      <strong>{{ track.name }}</strong>
      <small>{{ track.duration_ms }}</small>
    </p>
    <p>
      <audio
        controls
        :src="track.preview_url"
      ></audio>
    </p>
  </div>
</template>

<style lang="scss" scoped>
img {
  width: 128px;
  border-radius: 50%;
}
</style>

<script>
export default {
  data () {
    return {
      track: { }
    }
  },
  created () {
    this.$bus.$on('set-track', (track) => {
      this.track = track
    })
  }
}
</script>
