<template>
  <main>
    <pm-loader v-show="isLoading"></pm-loader>
    <section class="section">
      <!-- <div class="container">
        <child></child>
      </div> -->
      <nav class="nav has-shadow">
        <div class="container">
          <div class="field has-addons">
            <div class="control">
              <input
                class="input is-large"
                type="text"
                placeholder="Buscar canciones"
                v-model="searchQuery"
              >
            </div>
            <p class="control">
              <a
                class="button is-large is-info"
                @click="search"
              >
                Buscar
              </a>
            </p>
            <p class="control">
              <a class="button is-large is-danger">
                &times;
              </a>
            </p>
          </div>
        </div>
      </nav>
      <div class="container">
        <p class="control">
          <small>{{ searchMessage }}</small>
        </p>
      </div>
      <div class="container results">
        <div class="columns is-multiline">
          <div
            class="column is-one-quarter"
            :key="track.id"
            v-for="track in tracks"
          >
            <pm-track
              :class="{ 'is-active': track.id === selectedTrack }"
              @select="setSelectedTrack"
              :track="track"
            ></pm-track>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import trackService from '@/services/track'
import PmTrack from '@/components/Track.vue'
import PmLoader from '@/components/shared/Loader.vue'

export default {
  name: 'app',

  components: {
    PmTrack, PmLoader
  },
  data () {
    return {
      searchQuery: '',
      tracks: [],
      isLoading: false,
      selectedTrack: ''
    }
  },
  computed: {
    searchMessage () {
      return 'Encontrados: ' + this.tracks.length
    }
  },
  watch: {
    searchQuery: function (newData) {
      this.search()
    }
  },
  methods: {
    search () {
      if (!this.searchQuery) { return }
      this.isLoading = true
      trackService.search(this.searchQuery)
        .then(res => {
          this.tracks = res.tracks.items
          this.isLoading = false
        })
    },
    setSelectedTrack (id) {
      this.selectedTrack = id
      console.log(id)
    }
  }
}
</script>

<style lang="scss">
.is-active {
  border: 3px #23d160 solid;
}
</style>
