<template>
  <div>
    <h1>Componente hijo</h1>
    <local-component></local-component>
  </div>
</template>
<script>
import LocalComponent from './LocalComponent.vue'
export default {
  components: {
    LocalComponent: LocalComponent
  }
}
</script>
